
body {
    background-color: lightblue;
}

.redcenter {
    color: red;
    font-weight: bold;
    text-align: center;
}

.purpleft {
    color: purple;
    font-weight: bold;
    text-align: left;
}

#uniquecolorfont {
    color: yellow; 
}

h1 {
    color: blue;
}

.boxmodel {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}
